body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(180deg, #08013a, #7a1391, #ff2bbf);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ff77ff;
    font-family: 'Silkscreen', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 4rem;
    text-shadow: 0 0 10px #ff33ff;
}

p {
    font-size: 1.2rem;
    margin: 0 0 2em;
}

a {
    color: #ff77ff;
    text-decoration: none;
    border: 1px solid #ff77ff;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.3s;
}

a:hover {
    background: #ff77ff;
    color: #fff;
    box-shadow: 0 0 15px #ff99ff;
    transform: scale(1.1);
    transition: transform 0.3s;
}

.pixel {
    width: 24px;
    height: 24px;
    background: #ff77ff;
    margin: 0 auto 40px;
    animation: pulse 1s infinite;
    border-radius: 4px;
    cursor: pointer;
}

@keyframes pulse {
    0%, 100% { box-shadow: 0 0 5px #ff33ff; }
    50% { box-shadow: 0 0 20px #ff77ff; }
}

.hidden {
  display: none;
}

#marquee {
  width: 100%;
  background-color: #240046;
  overflow: hidden;
  white-space: nowrap;
  font-family: 'Silkscreen', cursive;
  font-size: 1.2rem;
  color: #fff;
  padding: 10px 0;
  box-shadow: 0 0 10px #ff77ff;
  z-index: 9999;
}

#marquee p {
  display: inline-block;
  padding-left: 100%;
  animation: marqueeAnim 25s linear infinite;
  margin: 0;
}

@keyframes marqueeAnim {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}
