html{
    box-sizing: border-box;
    height: 100%;
}

body {
    text-align: center;
    align-items: center;
    font-family: "silkscreen", "Helvetica";
    font-size: large;
    color: white;
    background: linear-gradient(180deg, #08013a, #7a1391, #ff2bbf);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: inherit;
    justify-content: center;
    margin: 0;
}

.homenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0000006e;
    margin-bottom: 30px;
}
  
li {
    float: right;
}
  
li a {
    display: block;
    color: rgb(255, 251, 196);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
}
  
li a:hover {
    background-color: #ffe3434c;
    transition: 0.3s;
}

.wrappingimage1  {   
    margin: 15px 10px 10px 0;
    line-height: 0;
}

.img1 {
    border-radius: 50%;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.199);
    transition: all 0.5s;
}

.img1:hover {
    transform: rotate(360deg);
    box-shadow: 0 0 40px rgb(255, 229, 60);
}

.wrapper{
    border-radius: 70px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #ffffff;
    background: rgba(255, 255, 255, 0.30);
    border: 1px solid rgba(255, 255, 255, 0.34);
    padding: 10px 30px;
    width: 500px;
    margin: auto;
    left: 0;
    right: 0;
}

.wrapper1{
    border-radius: 70px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #ffffff;
    background: rgba(255, 255, 255, 0.30);
    border: 1px solid rgba(255, 255, 255, 0.34);
    padding: 5px 20px;
    width: 800px;
    height: fit-content;
    margin-top: 40px;
    margin-right: 10px;
    text-align: left;
    margin: auto;
    left: 0;
    right: 0;
}

a {
    color: inherit;
    text-decoration:none; 
}

h5 {
    margin-bottom: 0px;
    padding-top: 7px;
}

.icons {
    background-image: url("images/upper.png");
    background-size: 100%;
    padding-bottom: 10px;
}

.fab {
   font-size: 30px;
   margin-top: 15px;
   display: inline-block;
}

.button-row{
    position: relative;
    justify-content: space-between;
    align-content:inherit;
    margin-bottom: 30px;
}

button{
    vertical-align: top;
    font-family: 'arial';
    font-weight: bolder;
    border-radius: 50%;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.185);
    color: #ffffff;
    background: rgba(255, 255, 255, 0.30);
    border: 1px solid rgba(255, 255, 255, 0.34);
    margin: 15px;
    font-size: 14px;
    width: 100px;
    height: 100px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    position: relative;
    top: 17px; 
}

.button1:hover {
    background-color: #ffffffc6;
    color: white;
    transform: scale(1.1) rotate(-2deg);
    box-shadow: 0 6px 20px rgba(255, 110, 180, 0.6);
}
.button0:hover {
    background-color: #ffffffc6;
    color: white;
    transform: scale(1.1) rotate(-2deg);
    box-shadow: 0 6px 20px rgba(255, 110, 180, 0.6);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 100px rgb(255, 230, 0);
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

hr {
    color: white;
    border-style: solid;
}

.active {
    background-color: #ffe3434c;
}

svg {
    width: 70%;
}