html{
  box-sizing: border-box;
  height: 100%;
}

body {
  text-align: center;
  align-items: center;
  font-family: "VT323", "Helvetica";
  font-size: large;
  color: rgb(50, 50, 50);
  height: inherit;
  justify-content: center;
  margin: 10%;
}

.hello {
  flex-direction: row;
  display: flex;
  margin: 50px 0px;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 50px rgb(236, 236, 236);
}

.helloimage { 
  flex: 1; 
}

.hs {
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}

.vinyl {
  box-sizing: border-box;
  border: 70px solid black;
  animation: spin 3s linear infinite, glow 1.5s infinite alternate;
  cursor: pointer;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes glow {
  0% { box-shadow: 0 0 10px #ffe100, 0 0 20px #ff2bbf; }
  100% { box-shadow: 0 0 10px #ff2bbf, 0 0 20px #00eaff; }
}

.hellotext {
  text-align: left;
  margin-left: 30px;
  flex: 2;
}

.hellotext h1 {
  margin-top: 0px;
}

a {
  color: #ff2bbf;
  text-decoration:none; 
}

.ls {
  display: flex;
  gap: 10px;
}

.group {
  width: 50%;
}

.group h1 {
  margin-top: 0px;
}

.svg-row svg, .svg-row img{
  width: 30px;
}

.filter-buttons button {
  border: 1px solid black;
  background-color: transparent;
  font-family: inherit;
  font-size: 100%;
  cursor: pointer;
  padding: 10px;
  transition: 0.3s;
  margin-bottom: 15px;
}

.filter-buttons button:hover {
  background-color: black;
  color: white;
  transition: 0.3s;
}

.gallery {
  width: 100%;
}

.gallery-item {
  width: 100%;
  display: flex;
  margin: 15px 0px;
}

.gallery-item img {
  flex: 1;
  width: 400px;
  transition: 0.3s;
}

.gallery-item p {
  flex: 1;
  padding: 30px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.gallery img:hover {
  transform: scale(1.05) rotate(-1deg);
  transition: 0.3s;
  box-shadow: 0 6px 20px #08013a71;
}

.ad {
  gap: 10px
}

.ad img {
  height: 300px;
  width: 100%;
}


.hidden {
  display: none;
}

.filter-buttons button.current {
  background-color: black;
  color: white;
}

footer {
  padding: 15px;
}

@media screen and (max-width: 900px)  {
  .hello {
    display: block;
  }

  .hello h1, .hello h2 {
    text-align: center;
  }

  .hellotext {
    margin-left: 0px;
  }

  .gallery-item {
    display: block;
  }

  .gallery-item img {
    width: 100%;
    margin-bottom: 0px;
  }

  .gallery-item p {
    margin-top: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: none;
    border-top-right-radius: 0px;
  }

  .hidden {
    display: none;
  }

  .ad img {
    height: 100%;
  }
}