html{
  box-sizing: border-box;
  height: 100%;
}

body {
  text-align: center;
  align-items: center;
  font-family: "VT323", "Helvetica";
  font-size: large;
  color: rgb(50, 50, 50);
  justify-content: center;
  margin: 5% 10%;
}

.hello {
  flex-direction: row;
  display: flex;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 50px rgb(236, 236, 236);
}

.helloimage { 
  flex: 1; 
}

.hellotext {
  text-align: left;
  margin-left: 30px;
  flex: 2;
}

a {
  color: #ff2bbf;
  text-decoration:none; 
}

.ls {
  display: flex;
  gap: 10px;
}

.group {
  width: 50%;
}

.svg-row svg, .svg-row img{
  width: 30px;
}

.filter-buttons {
  display: flex;
}

.row {
  display: flex;
  gap: 20px;
}

.left {
  max-width: 200px;
}

.filter-buttons button, .left button {
  border: 1px solid black;
  background-color: transparent;
  font-family: inherit;
  font-size: 100%;
  cursor: pointer;
  padding: 10px;
  transition: 0.3s;
  margin-bottom: 15px;
  width: 100%;;
}

.filter-buttons button:hover, .left button:hover {
  background-color: black;
  color: white;
  transition: 0.3s;
}

.gallery {
  width: 100%;
}

.gallery-item {
  width: 100%;
  /* display: flex; */
  /* margin: 15px 0px; */
}

.gallery-item img {
  flex: 1;
  width: 100%;
  transition: 0.3s;
}

.gallery-item p {
  margin: 0;
  flex: 1;
  padding: 30px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  /* border-top: 1px solid black; */
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}
/* 
.gallery img:hover {
  transform: scale(1.05) rotate(-1deg);
  transition: 0.3s;
  box-shadow: 0 6px 20px #08013a71;
} */

.ad {
  display: block;
}

.pic {
  display: flex;
  gap: 10px;
}

.ad video {
  height: 300px;
  width: 100%;
}

.hidden {
  display: none;
}

.filter-buttons button.current, .left button.current {
  background-color: black;
  color: white;
}

footer {
  margin-top: 20px;
}

@media screen and (max-width: 900px)  {
  .row {
    display: block;
  }

  .left {
    max-width: 100%;
    align-items: center;
    margin-bottom: 10px;
  }

  .filter-buttons {
    display: flex;
    gap: 10px;
  }


  .hello {
    display: block;
  }

  .hello h1, .hello h2 {
    text-align: center;
  }

  .hellotext {
    margin-left: 0px;
  }

  .gallery-item {
    display: block;
  }

  .gallery-item img {
    width: 100%;
    margin-bottom: 0px;
  }

  .gallery-item p {
    margin-top: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: none;
    border-top-right-radius: 0px;
  }

  .hidden {
    display: none;
  }

  .pic {
    display: block;
  }
}