html{
    box-sizing: border-box;
    height: 100%;
}

body {
    text-align: center;
    align-items: center;
    font-family: "silkscreen", "Helvetica";
    font-size: large;
    color: white;
    background: linear-gradient(180deg, #08013a, #7a1391, #ff2bbf);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: inherit;
    justify-content: center;
}

.homenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0000006e;
    margin-bottom: 30px;
  }
  
li {
    float: right;
}
  
li a {
    display: block;
    color: rgb(255, 251, 196);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
}
  
li a:hover {
    background-color: #ffe3434c;
    transition: 0.3s;
}

.panels {
    padding: 35px;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
}

.fe {
    background-color: #08013a71;
}

.desc {
    font-size: 12px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 100px rgb(255, 230, 0);
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

hr {
    color: white;
    border-style: solid;
}